In [1]:
import pandas as pd

In [31]:
df = pd.read_csv("education_by_state.csv", header=1)

df.columns = [
    'State',
    'Population over the age of 25',
    'HS Diploma Population',
    'HS Diploma Pct',
    'BS Degree Population',
    'BS Degree Pct',
    'Advanced Degree Population',
    'Advanced Degree Pct'
]

df = df.dropna(subset=['State'])

for column in ['HS Diploma Pct', 'BS Degree Pct', 'Advanced Degree Pct']:
    df[column] = df[column].str.replace('%', '').astype(float)

for column in [
    'Population over the age of 25',
    'HS Diploma Population',
    'BS Degree Population',
    'Advanced Degree Population'
]:
    df[column] = df[column].str.replace(',', '').astype(int)

df.set_index('State', inplace=True)
df

,Population over the age of 25,HS Diploma Population,HS Diploma Pct,BS Degree Population,BS Degree Pct,Advanced Degree Population,Advanced Degree Pct
State,,,,,,,
Alabama,3451208,3034741,87.93,946766,27.43,374490,10.85
Alaska,485779,453289,93.31,159290,32.79,57868,11.91
Arizona,4980297,4430934,88.97,1615081,32.43,629408,12.64
Arkansas,2037763,1806873,88.67,515034,25.27,190897,9.37
California,26909869,22724990,84.45,9737817,36.19,3779787,14.05
Colorado,4044182,3738208,92.43,1796240,44.42,688931,17.04
Connecticut,2534376,2309185,91.11,1067671,42.13,479981,18.94
Delaware,711104,649638,91.36,253292,35.62,106997,15.05
District of Columbia,478774,444233,92.79,301852,63.05,181081,37.82
Florida,15762122,14153579,89.79,5226846,33.16,1978625,12.55
Georgia,7234271,6436394,88.97,2505076,34.63,991062,13.70
Hawaii,1021687,949476,92.93,360681,35.30,133832,13.10
Idaho,1257566,1147653,91.26,386264,30.72,132502,10.54
Illinois,8730697,7872693,90.17,3242579,37.14,1310297,15.01
Indiana,4559631,4132897,90.64,1316787,28.88,473718,10.39
Iowa,2137261,1994595,93.32,652742,30.54,210864,9.87
Kansas,1942133,1784711,91.89,687452,35.40,259988,13.39
Kentucky,3077867,2708147,87.99,830414,26.98,341868,11.11
Louisiana,3117186,2701889,86.68,824369,26.45,300894,9.65
Maine,1015078,959533,94.53,365305,35.99,140318,13.82
Maryland,4273260,3892442,91.09,1818202,48.55,861669,24.16
Massachusetts,4934755,4495563,96.10,2300423,50.62,1049675,28.27
Michigan,6971895,6411597,91.96,2208170,31.67,870008,12.48
Minnesota,3898742,3669895,94.13,1516426,38.90,522543,13.40
Mississippi,1968167,1702178,86.49,487663,24.78,184007,9.35
Missouri,4226634,3871249,91.59,1340643,31.72,517428,12.24
Montana,766758,723450,94.35,266820,34.80,95443,12.45
Nebraska,1292536,1191221,92.16,445261,34.45,158751,12.28
Nevada,2192826,1911173,87.16,604626,27.57,211418,9.64
New Hampshire,1008318,952238,94.44,405815,40.98,158459,15.72
New Jersey,6474427,5890494,90.98,2790646,43.10,1126293,17.40
New Mexico,1450549,1268955,87.48,435930,30.05,204185,14.08
New York,13987094,12313514,88.03,5583687,40.90,2477848,17.72
North Carolina,7245632,6499145,89.70,2529657,34.91,955976,13.19
North Dakota,506739,474432,93.62,160847,31.74,47533,9.38
Ohio,8117973,7447659,91.74,2493910,30.72,957286,11.79
Oklahoma,2639889,2341875,88.71,737183,27.92,254015,9.62
Oregon,3030635,2784373,91.87,1101061,36.33,420755,13.88
Pennsylvania,9161945,8418661,95.89,3164985,36.54,1277263,16.94
Puerto Rico,2401409,1912629,79.65,683894,28.48,190538,7.93
Rhode Island,773464,689448,89.14,282326,36.50,120732,15.61
South Carolina,3598398,3224401,89.61,1134636,31.53,429896,11.95
South Dakota,590377,549364,93.05,186946,31.67,59688,10.11
Tennessee,4814533,4320485,89.74,1467481,30.48,543077,11.28
Texas,19224688,16415784,85.39,6366437,33.12,2288616,11.90
Utah,2010727,1873479,93.17,740097,36.81,255215,12.69
Vermont,462705,437478,94.55,205621,44.44,85248,18.42
Virginia,5942672,5430700,91.38,2484460,41.81,1089585,18.33
Washington,5401149,4987844,92.35,2104662,40.97,817197,15.13
West Virginia,1265439,1123971,88.82,305188,24.12,125812,9.94
Wisconsin,4076339,3804265,93.33,1326478,32.54,450011,11.04
Wyoming,395348,369992,93.59,115618,29.24,42363,10.72

In [26]:
df.columns

Index(['Population over the age of 25', 'HS Diploma or higher Population',
       'HS Diploma or higher Pct', 'BS Degree or higher Population',
       'BS Degree or higher Pct', 'Advanced Degree Population',
       'Advanced Degree Pct'],
      dtype='object')

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 52 entries, Alabama to Wyoming
Data columns (total 7 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Population over the age of 25  52 non-null     int64
 1   HS Diploma Population          52 non-null     int64
 2   HS Diploma Pct                 52 non-null     float64
 3   BS Degree Population           52 non-null     int64
 4   BS Degree Pct                  52 non-null     float64
 5   Advanced Degree Population     52 non-null     int64
 6   Advanced Degree Pct            52 non-null     float64
dtypes: float64(3), int64(4)
memory usage: 3.2+ KB

In [33]:
df.to_csv('clean_education.csv')